doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Contact Us - Flo MindRise
    link(rel="stylesheet" href="/styles/contact.css")
  body
    header
      nav.navbar
        div.logo Flo MindRise
        ul.nav-links
          li: a(href="#features") Features
          li: a(href="#community") Community
          li: a(href="#resources") Resources
          li: a(href="#contact") Contact Us
          li: a(href="/login") Login
          a.get-started(href="/addUser") Get Started

    main
      section.contact-us
        h2 Contact Us
        p If you have any questions or feedback, feel free to reach out to us. We'd love to hear from you!
        
        form(id="contact-form" method="POST" action="/submit-contact-form")
          label(for="name") Full Name:
          input(type="text" id="name" name="name" placeholder="Enter your full name" required)

          label(for="email") Email Address:
          input(type="email" id="email" name="email" placeholder="Your email address" required)

          label(for="subject") Subject:
          input(type="text" id="subject" name="subject" placeholder="What’s the reason for contact?" optional)

          label(for="message") Message:
          textarea(id="message" name="message" placeholder="Your message..." required)

          label(for="phone") Phone Number:
          input(type="tel" id="phone" name="phone" placeholder="Your phone number" optional)

          div.captcha
            //- div(g-recaptcha(data-sitekey="YOUR_SITE_KEY") # Add reCAPTCHA

          button(type="submit") Send Message

    footer
      div.social-links
        a(href="https://facebook.com") Facebook
        a(href="https://twitter.com") Twitter
        a(href="https://instagram.com") Instagram
      p © Flo MindRise. All rights reserved.

    script(src="https://www.google.com/recaptcha/api.js" async defer)
    script(src="/scripts/contact.js")
